.card{
  max-height: 30rem;
  width: 40rem;
  background-color: aquamarine;
 
}


.container{
  background-color: blanchedalmond;
  height: 39rem;
  display: flex;
  justify-content: center;
  
}
.container .card,.form-control{
  margin-top: 5rem;
  margin-right: 10rem;
}

.inputbutton{
  margin-top: 5rem;
}

.heading{
  display: flex;
  justify-content: center;
}